# TODO: Lock down RBAC to only what the operator actually
# needs in order to install Calico.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - operator.projectcalico.org
  resources:
  - '*'
  verbs:
  - '*'
# When running in openshift, we need to update networking config.
- apiGroups:
  - config.openshift.io
  resources:
  - networks/status
  verbs:
  - 'update'
  - '*'
- apiGroups:
  - config.openshift.io
  resources:
  - networks
  verbs:
  - 'get'
  - '*'

