# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: v3.28.0
components:
  libcalico-go:
    version: v3.28.0
  typha:
    version: v3.28.0
  calico/node:
    version: v3.28.0
  calico/cni:
    version: v3.28.0
  calico/node-windows:
    version: v3.28.0
  calico/cni-windows:
    version: v3.28.0
  calico/kube-controllers:
    version: v3.28.0
  flexvol:
    version: v3.28.0
  calico/apiserver:
    version: v3.28.0
  calico/csi:
    version: v3.28.0
  csi-node-driver-registrar:
    version: v3.28.0
  key-cert-provisioner:
    version: v3.28.0
