# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: v3.31.3
components:
  libcalico-go:
    version: v3.31.3
  typha:
    version: v3.31.3
  node:
    version: v3.31.3
  cni:
    version: v3.31.3
  node-windows:
    version: v3.31.3
  cni-windows:
    version: v3.31.3
  kube-controllers:
    version: v3.31.3
  goldmane:
    version: v3.31.3
  flexvol:
    version: v3.31.3
  apiserver:
    version: v3.31.3
  csi:
    version: v3.31.3
  csi-node-driver-registrar:
    version: v3.31.3
  key-cert-provisioner:
    version: v3.31.3
  whisker:
    version: v3.31.3
  whisker-backend:
    version: v3.31.3
  envoy-gateway:
    version: v3.31.3
  envoy-proxy:
    version: v3.31.3
  envoy-ratelimit:
    version: v3.31.3
  guardian:
    version: v3.31.3
  istio-pilot:
    version: v3.31.3
  istio-install-cni:
    version: v3.31.3
  istio-ztunnel:
    version: v3.31.3
  istio-proxyv2:
    version: v3.31.3
