title: v3.18.2
components:
  typha:
    version: v3.18.2
  calico/node:
    version: v3.18.2
  calico/cni:
    version: v3.18.2
  calico/kube-controllers:
    version: v3.18.2
  flexvol:
    version: v3.18.2
