# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: v3.26.5
components:
  libcalico-go:
    version: v3.26.5
  typha:
    version: v3.26.5
  calico/node:
    version: v3.26.5
  calico/cni:
    version: v3.26.5
  calico/kube-controllers:
    version: v3.26.5
  flexvol:
    version: v3.26.5
  calico/apiserver:
    version: v3.26.5
  calico/windows-upgrade:
    version: v3.26.5
  calico/csi:
    version: v3.26.5
  csi-node-driver-registrar:
    version: v3.26.5
