# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: master
components:
  libcalico-go:
    version: master
  typha:
    version: master
  calico/node:
    version: master
  calico/cni:
    version: master
  calico/node-windows:
    version: master
  calico/cni-windows:
    version: master
  calico/kube-controllers:
    version: master
  flexvol:
    version: master
  calico/apiserver:
    version: master
  calico/csi:
    version: master
  csi-node-driver-registrar:
    version: master
  key-cert-provisioner:
    version: master
