# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: master
components:
  libcalico-go:
    version: master
  typha:
    version: master
  node:
    version: master
  cni:
    version: master
  node-windows:
    version: master
  cni-windows:
    version: master
  kube-controllers:
    version: master
  goldmane:
    version: master
  flexvol:
    version: master
  apiserver:
    version: master
  csi:
    version: master
  csi-node-driver-registrar:
    version: master
  key-cert-provisioner:
    version: master
  whisker:
    version: master
  whisker-backend:
    version: master
  envoy-gateway:
    version: master
  envoy-proxy:
    version: master
  envoy-ratelimit:
    version: master
  guardian:
    version: master
  istio-pilot:
    version: master
  istio-install-cni:
    version: master
  istio-ztunnel:
    version: master
  istio-proxyv2:
    version: master
  webhooks:
    version: master
