# Components defined here are required to be kept in sync with hack/gen-versions/calico.go.tpl
title: release-v3.28
components:
  libcalico-go:
    version: release-v3.28
  typha:
    version: release-v3.28
  calico/node:
    version: release-v3.28
  calico/cni:
    version: release-v3.28
  calico/node-windows:
    version: release-v3.28
  calico/cni-windows:
    version: release-v3.28
  calico/kube-controllers:
    version: release-v3.28
  flexvol:
    version: release-v3.28
  calico/apiserver:
    version: release-v3.28
  calico/csi:
    version: release-v3.28
  csi-node-driver-registrar:
    version: release-v3.28
  calico/key-cert-provisioner:
    version: release-v3.28
