title: v3.22.4
components:
  libcalico-go:
    version: v3.22.4
  typha:
    version: v3.22.4
  calico/node:
    version: v3.22.4
  calico/cni:
    version: v3.22.4
  calico/kube-controllers:
    version: v3.22.4
  flexvol:
    version: v3.22.4
  calico/apiserver:
    version: v3.22.4
  calico/windows-upgrade:
    version: v3.22.4
