title: v3.19.1
components:
  typha:
    version: v3.19.1
  calico/node:
    version: v3.19.1
  calico/cni:
    version: v3.19.1
  calico/kube-controllers:
    version: v3.19.1
  flexvol:
    version: v3.19.1
