# Components defined here are required to be kept in sync with hack/gen-versions/enterprise.go.tpl
title: release-calient-v3.21-1
components:
  libcalico-go:
    version: release-calient-v3.21-1
  cnx-manager:
    image: tigera/cnx-manager
    version: release-calient-v3.21-1
  voltron:
    image: tigera/voltron
    version: release-calient-v3.21-1
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: release-calient-v3.21-1
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: release-calient-v3.21-1
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: release-calient-v3.21-1
  typha:
    image: tigera/typha
    version: release-calient-v3.21-1
  cnx-node:
    image: tigera/cnx-node
    version: release-calient-v3.21-1
  cnx-node-windows:
    image: tigera/cnx-node-windows
    version: release-calient-v3.21-1
  fluentd:
    image: tigera/fluentd
    version: release-calient-v3.21-1
  fluentd-windows:
    image: tigera/fluentd-windows
    version: release-calient-v3.21-1
  ui-apis:
    image: tigera/ui-apis
    version: release-calient-v3.21-1
  linseed:
    image: tigera/linseed
    version: release-calient-v3.21-1
  es-gateway:
    image: tigera/es-gateway
    version: release-calient-v3.21-1
  dex:
    image: tigera/dex
    version: release-calient-v3.21-1
  eck-kibana:
    version: 8.16.1
  kibana:
    image: tigera/kibana
    version: release-calient-v3.21-1
  eck-elasticsearch:
    version: 8.16.1
  elasticsearch:
    image: tigera/elasticsearch
    version: release-calient-v3.21-1
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: release-calient-v3.21-1
  es-curator:
    image: tigera/es-curator
    version: release-calient-v3.21-1
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: release-calient-v3.21-1
  webhooks-processor:
    image: tigera/webhooks-processor
    version: release-calient-v3.21-1
  compliance-controller:
    image: tigera/compliance-controller
    version: release-calient-v3.21-1
  compliance-reporter:
    image: tigera/compliance-reporter
    version: release-calient-v3.21-1
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: release-calient-v3.21-1
  compliance-server:
    image: tigera/compliance-server
    version: release-calient-v3.21-1
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: release-calient-v3.21-1
  guardian:
    image: tigera/guardian
    version: release-calient-v3.21-1
  tigera-cni:
    image: tigera/cni
    version: release-calient-v3.21-1
  tigera-cni-windows:
    image: tigera/cni-windows
    version: release-calient-v3.21-1
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: release-calient-v3.21-1
  packetcapture:
    image: tigera/packetcapture
    version: release-calient-v3.21-1
  policy-recommendation:
    image: tigera/policy-recommendation
    version: release-calient-v3.21-1
  # coreos-prometheus holds the version of prometheus built for tigera/prometheus,
  # which prometheus operator uses to validate.
  coreos-prometheus:
    version: v2.54.1
  prometheus:
    image: tigera/prometheus
    version: release-calient-v3.21-1
  # coreos-prometheus holds the version of alertmanager built for tigera/alertmanager,
  # which prometheus operator uses to validate.
  coreos-alertmanager:
    version: v0.27.0
  alertmanager:
    image: tigera/alertmanager
    version: release-calient-v3.21-1
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: release-calient-v3.21-1
  deep-packet-inspection:
    image: tigera/deep-packet-inspection
    version: release-calient-v3.21-1
  flexvol:
    image: tigera/pod2daemon-flexvol
    version: release-calient-v3.21-1
  csi:
    image: tigera/csi
    version: release-calient-v3.21-1
  csi-node-driver-registrar:
    image: tigera/node-driver-registrar
    version: release-calient-v3.21-1
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: release-calient-v3.21-1
  eck-elasticsearch-operator:
    version: 2.16.0
  l7-collector:
    image: tigera/l7-collector
    version: release-calient-v3.21-1
  envoy:
    image: tigera/envoy
    version: release-calient-v3.21-1
  dikastes:
    image: tigera/dikastes
    version: release-calient-v3.21-1
  l7-admission-controller:
    image: tigera/l7-admission-controller
    version: release-calient-v3.21-1
  egress-gateway:
    image: tigera/egress-gateway
    version: release-calient-v3.21-1
  key-cert-provisioner:
    image: tigera/key-cert-provisioner
    version: release-calient-v3.21-1
  gateway-api-envoy-gateway:
    image: tigera/envoy-gateway
    version: release-calient-v3.21-1
  gateway-api-envoy-proxy:
    image: tigera/envoy-proxy
    version: release-calient-v3.21-1
  gateway-api-envoy-ratelimit:
    image: tigera/envoy-ratelimit
    version: release-calient-v3.21-1
