title: master
components:
  libcalico-go:
    version: master
  cnx-manager:
    image: tigera/cnx-manager
    version: master
  voltron:
    image: tigera/voltron
    version: master
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: master
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: master
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: master
  typha:
    image: tigera/typha
    version: master
  cnx-node:
    image: tigera/cnx-node
    version: master
  fluentd:
    image: tigera/fluentd
    version: master
  fluentd-windows:
    image: tigera/fluentd-windows
    version: master
  es-proxy:
    image: tigera/es-proxy
    version: master
  es-gateway:
    image: tigera/es-gateway
    version: master
  eck-kibana:
    version: 7.11.2
  dex:
    image: tigera/dex
    version: master
  kibana:
    image: tigera/kibana
    version: master
  eck-elasticsearch:
    version: 7.11.2
  elasticsearch:
    image: tigera/elasticsearch
    version: master
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: master
  es-curator:
    image: tigera/es-curator
    version: master
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: master
  compliance-controller:
    image: tigera/compliance-controller
    version: master
  compliance-reporter:
    image: tigera/compliance-reporter
    version: master
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: master
  compliance-server:
    image: tigera/compliance-server
    version: master
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: master
  guardian:
    image: tigera/guardian
    version: master
  tigera-cni:
    image: tigera/cni
    version: master
  cloud-controllers:
    image: tigera/cloud-controllers
    version: master
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: master
  packetcapture-api:
    image: tigera/packetcapture-api
    version: master
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: master
  deep-packet-inspection:
    image: tigera/deep-packet-inspection
    version: master
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: 1.7.1
  prometheus:
    image: tigera/prometheus
    version: v2.17.2
  alertmanager:
    image: tigera/alertmanager
    version: v0.20.0
  l7-collector:
    image: tigera/l7-collector
    version: master
  envoy:
    image: tigera/envoy
    version: master


