# Components defined here are required to be kept in sync with hack/gen-versions/enterprise.go.tpl
title: release-calient-v3.22
components:
  libcalico-go:
    version: release-calient-v3.22
  manager:
    image: tigera/manager
    version: release-calient-v3.22
  voltron:
    image: tigera/voltron
    version: release-calient-v3.22
  apiserver:
    image: tigera/apiserver
    version: release-calient-v3.22
  queryserver:
    image: tigera/queryserver
    version: release-calient-v3.22
  kube-controllers:
    image: tigera/kube-controllers
    version: release-calient-v3.22
  typha:
    image: tigera/typha
    version: release-calient-v3.22
  node:
    image: tigera/node
    version: release-calient-v3.22
  node-windows:
    image: tigera/node-windows
    version: release-calient-v3.22
  fluentd:
    image: tigera/fluentd
    version: release-calient-v3.22
  fluentd-windows:
    image: tigera/fluentd-windows
    version: release-calient-v3.22
  ui-apis:
    image: tigera/ui-apis
    version: release-calient-v3.22
  linseed:
    image: tigera/linseed
    version: release-calient-v3.22
  es-gateway:
    image: tigera/es-gateway
    version: release-calient-v3.22
  dex:
    image: tigera/dex
    version: release-calient-v3.22
  eck-kibana:
    version: 8.18.8
  kibana:
    image: tigera/kibana
    version: release-calient-v3.22
  eck-elasticsearch:
    version: 8.18.8
  elasticsearch:
    image: tigera/elasticsearch
    version: release-calient-v3.22
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: release-calient-v3.22
  es-curator:
    image: tigera/es-curator
    version: release-calient-v3.22
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: release-calient-v3.22
  waf-http-filter:
    image: tigera/waf-http-filter
    version: release-calient-v3.22
  webhooks-processor:
    image: tigera/webhooks-processor
    version: release-calient-v3.22
  compliance-controller:
    image: tigera/compliance-controller
    version: release-calient-v3.22
  compliance-reporter:
    image: tigera/compliance-reporter
    version: release-calient-v3.22
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: release-calient-v3.22
  compliance-server:
    image: tigera/compliance-server
    version: release-calient-v3.22
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: release-calient-v3.22
  guardian:
    image: tigera/guardian
    version: release-calient-v3.22
  tigera-cni:
    image: tigera/cni
    version: release-calient-v3.22
  tigera-cni-windows:
    image: tigera/cni-windows
    version: release-calient-v3.22
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: release-calient-v3.22
  packetcapture:
    image: tigera/packetcapture
    version: release-calient-v3.22
  policy-recommendation:
    image: tigera/policy-recommendation
    version: release-calient-v3.22
  # coreos-prometheus holds the version of prometheus built for tigera/prometheus,
  # which prometheus operator uses to validate.
  coreos-prometheus:
    version: v3.4.1
  prometheus:
    image: tigera/prometheus
    version: release-calient-v3.22
  # coreos-prometheus holds the version of alertmanager built for tigera/alertmanager,
  # which prometheus operator uses to validate.
  coreos-alertmanager:
    version: v0.28.0
  alertmanager:
    image: tigera/alertmanager
    version: release-calient-v3.22
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: release-calient-v3.22
  deep-packet-inspection:
    image: tigera/deep-packet-inspection
    version: release-calient-v3.22
  flexvol:
    image: tigera/pod2daemon-flexvol
    version: release-calient-v3.22
  csi:
    image: tigera/csi
    version: release-calient-v3.22
  csi-node-driver-registrar:
    image: tigera/node-driver-registrar
    version: release-calient-v3.22
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: release-calient-v3.22
  eck-elasticsearch-operator:
    version: 2.16.0
  l7-collector:
    image: tigera/l7-collector
    version: release-calient-v3.22
  gateway-l7-collector:
    image: tigera/gateway-l7-collector
    version: release-calient-v3.22
  envoy:
    image: tigera/envoy
    version: release-calient-v3.22
  dikastes:
    image: tigera/dikastes
    version: release-calient-v3.22
  l7-admission-controller:
    image: tigera/l7-admission-controller
    version: release-calient-v3.22
  egress-gateway:
    image: tigera/egress-gateway
    version: release-calient-v3.22
  key-cert-provisioner:
    image: tigera/key-cert-provisioner
    version: release-calient-v3.22
  gateway-api-envoy-gateway:
    image: tigera/envoy-gateway
    version: release-calient-v3.22
  gateway-api-envoy-proxy:
    image: tigera/envoy-proxy
    version: release-calient-v3.22
  gateway-api-envoy-ratelimit:
    image: tigera/envoy-ratelimit
    version: release-calient-v3.22
