components:
  cnx-manager:
    image: tigera/cnx-manager
    version: master
  voltron:
    image: tigera/voltron
    version: master
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: master
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: master
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: master
  typha:
    image: tigera/typha
    version: master
  cnx-node:
    image: tigera/cnx-node
    version: master
  fluentd:
    image: tigera/fluentd
    version: master
  es-proxy:
    image: tigera/es-proxy
    version: master
  eck-kibana:
    version: 7.6.2
  kibana:
    image: tigera/kibana
    version: master
  elasticsearch-operator:
    registry: docker.elastic.co
    image: eck/eck-operator
    version: 1.2.1
  eck-elasticsearch:
    version: 7.6.2
  elasticsearch:
    image: tigera/elasticsearch
    version: master
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: master
  es-curator:
    image: tigera/es-curator
    version: master
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: master
  compliance-controller:
    image: tigera/compliance-controller
    version: master
  compliance-reporter:
    image: tigera/compliance-reporter
    version: master
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: master
  compliance-server:
    image: tigera/compliance-server
    version: master
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: master
  # Below components are all maintained by 3rd parties and thus specify a 'registry' to indicate
  # to the docs & manifest tooling not to default to the tigera registry.
  guardian:
    image: tigera/guardian
    version: master
  tigera-cni:
    image: tigera/cni
    version: master
  cloud-controllers:
    image: tigera/cloud-controllers
    version: master
  dex:
    image: dexidp/dex
    version: v2.25.0
