title: v1.0.0
components:
  cnx-manager:
    image: tigera/cnx-manager
    version: release-calient-v3.7
  voltron:
    image: tigera/voltron
    version: release-calient-v3.7
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: release-calient-v3.7
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: release-calient-v3.7
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: release-calient-v3.7
  typha:
    image: tigera/typha
    version: release-calient-v3.7
  cnx-node:
    image: tigera/cnx-node
    version: release-calient-v3.7
  fluentd:
    image: tigera/fluentd
    version: release-calient-v3.7
  fluentd-windows:
    image: tigera/fluentd-windows
    version: release-calient-v3.7
  es-proxy:
    image: tigera/es-proxy
    version: release-calient-v3.7
  eck-kibana:
    version: 7.10.1
  dex:
    image: tigera/dex
    version: release-calient-v3.7
  kibana:
    image: tigera/kibana
    version: release-calient-v3.7
  elasticsearch-operator:
    registry: docker.elastic.co
    image: eck/eck-operator
    version: 1.2.1
  eck-elasticsearch:
    version: 7.10.1
  elasticsearch:
    image: tigera/elasticsearch
    version: release-calient-v3.7
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: release-calient-v3.7
  es-curator:
    image: tigera/es-curator
    version: release-calient-v3.7
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: release-calient-v3.7
  compliance-controller:
    image: tigera/compliance-controller
    version: release-calient-v3.7
  compliance-reporter:
    image: tigera/compliance-reporter
    version: release-calient-v3.7
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: release-calient-v3.7
  compliance-server:
    image: tigera/compliance-server
    version: release-calient-v3.7
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: release-calient-v3.7
  # Below components are all maintained by 3rd parties and thus specify a 'registry' to indicate
  # to the docs & manifest tooling not to default to the tigera registry.
  guardian:
    image: tigera/guardian
    version: release-calient-v3.7
  tigera-cni:
    image: tigera/cni
    version: release-calient-v3.7
  cloud-controllers:
    image: tigera/cloud-controllers
    version: release-calient-v3.7
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: release-calient-v3.7
