# Components defined here are required to be kept in sync with hack/gen-versions/enterprise.go.tpl
title: release-calient-v3.20
components:
  libcalico-go:
    version: release-calient-v3.20
  cnx-manager:
    image: tigera/cnx-manager
    version: release-calient-v3.20
  voltron:
    image: tigera/voltron
    version: release-calient-v3.20
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: release-calient-v3.20
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: release-calient-v3.20
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: release-calient-v3.20
  typha:
    image: tigera/typha
    version: release-calient-v3.20
  cnx-node:
    image: tigera/cnx-node
    version: release-calient-v3.20
  cnx-node-windows:
    image: tigera/cnx-node-windows
    version: release-calient-v3.20
  fluentd:
    image: tigera/fluentd
    version: release-calient-v3.20
  fluentd-windows:
    image: tigera/fluentd-windows
    version: release-calient-v3.20
  es-proxy:
    image: tigera/es-proxy
    version: release-calient-v3.20
  linseed:
    image: tigera/linseed
    version: release-calient-v3.20
  es-gateway:
    image: tigera/es-gateway
    version: release-calient-v3.20
  dex:
    image: tigera/dex
    version: release-calient-v3.20
  eck-kibana:
    version: 7.17.24
  kibana:
    image: tigera/kibana
    version: release-calient-v3.20
  eck-elasticsearch:
    version: 7.17.24
  elasticsearch:
    image: tigera/elasticsearch
    version: release-calient-v3.20
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: release-calient-v3.20
  es-curator:
    image: tigera/es-curator
    version: release-calient-v3.20
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: release-calient-v3.20
  security-event-webhooks-processor:
    image: tigera/webhooks-processor
    version: release-calient-v3.20
  compliance-controller:
    image: tigera/compliance-controller
    version: release-calient-v3.20
  compliance-reporter:
    image: tigera/compliance-reporter
    version: release-calient-v3.20
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: release-calient-v3.20
  compliance-server:
    image: tigera/compliance-server
    version: release-calient-v3.20
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: release-calient-v3.20
  guardian:
    image: tigera/guardian
    version: release-calient-v3.20
  tigera-cni:
    image: tigera/cni
    version: release-calient-v3.20
  tigera-cni-windows:
    image: tigera/cni-windows
    version: release-calient-v3.20
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: release-calient-v3.20
  packetcapture:
    image: tigera/packetcapture
    version: release-calient-v3.20
  policy-recommendation:
    image: tigera/policy-recommendation
    version: release-calient-v3.20
  # coreos-prometheus holds the version of prometheus built for tigera/prometheus,
  # which prometheus operator uses to validate.
  coreos-prometheus:
    version: v2.54.1
  prometheus:
    image: tigera/prometheus
    version: release-calient-v3.20
  # coreos-prometheus holds the version of alertmanager built for tigera/alertmanager,
  # which prometheus operator uses to validate.
  coreos-alertmanager:
    version: v0.27.0
  alertmanager:
    image: tigera/alertmanager
    version: release-calient-v3.20
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: release-calient-v3.20
  deep-packet-inspection:
    image: tigera/deep-packet-inspection
    version: release-calient-v3.20
  flexvol:
    image: tigera/pod2daemon-flexvol
    version: release-calient-v3.20
  csi:
    image: tigera/csi
    version: release-calient-v3.20
  csi-node-driver-registrar:
    image: tigera/node-driver-registrar
    version: release-calient-v3.20
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: release-calient-v3.20
  eck-elasticsearch-operator:
    version: 2.6.1
  l7-collector:
    image: tigera/l7-collector
    version: release-calient-v3.20
  envoy:
    image: tigera/envoy
    version: release-calient-v3.20
  dikastes:
    image: tigera/dikastes
    version: release-calient-v3.20
  l7-admission-controller:
    image: tigera/l7-admission-controller
    version: release-calient-v3.20
  egress-gateway:
    image: tigera/egress-gateway
    version: release-calient-v3.20
  key-cert-provisioner:
    image: tigera/key-cert-provisioner
    version: release-calient-v3.20

