# Components defined here are required to be kept in sync with hack/gen-versions/enterprise.go.tpl
title: master
components:
  libcalico-go:
    version: master
  manager:
    image: manager
    version: master
  voltron:
    image: voltron
    version: master
  apiserver:
    image: apiserver
    version: master
  queryserver:
    image: queryserver
    version: master
  kube-controllers:
    image: kube-controllers
    version: master
  typha:
    image: typha
    version: master
  node:
    image: node
    version: master
  node-windows:
    image: node-windows
    version: master
  fluentd:
    image: fluentd
    version: master
  fluentd-windows:
    image: fluentd-windows
    version: master
  ui-apis:
    image: ui-apis
    version: master
  linseed:
    image: linseed
    version: master
  es-gateway:
    image: es-gateway
    version: master
  dex:
    image: dex
    version: master
  # eck-kibana holds the version of Kibana built for tigera/kibana
  eck-kibana:
    version: 8.19.10
  kibana:
    image: kibana
    version: master
  # eck-elasticsearch holds the version of Elasticsearch built for tigera/elasticsearch
  eck-elasticsearch:
    version: 8.19.10
  elasticsearch:
    image: elasticsearch
    version: master
  elastic-tsee-installer:
    image: intrusion-detection-job-installer
    version: master
  es-curator:
    image: es-curator
    version: master
  intrusion-detection-controller:
    image: intrusion-detection-controller
    version: master
  waf-http-filter:
    image: waf-http-filter
    version: master
  webhooks-processor:
    image: webhooks-processor
    version: master
  compliance-controller:
    image: compliance-controller
    version: master
  compliance-reporter:
    image: compliance-reporter
    version: master
  compliance-snapshotter:
    image: compliance-snapshotter
    version: master
  compliance-server:
    image: compliance-server
    version: master
  compliance-benchmarker:
    image: compliance-benchmarker
    version: master
  guardian:
    image: guardian
    version: master
  tigera-cni:
    image: cni
    version: master
  tigera-cni-windows:
    image: cni-windows
    version: master
  elasticsearch-metrics:
    image: elasticsearch-metrics
    version: master
  packetcapture:
    image: packetcapture
    version: master
  policy-recommendation:
    image: policy-recommendation
    version: master
  # coreos-prometheus holds the version of prometheus built for tigera/prometheus,
  # which prometheus operator uses to validate.
  coreos-prometheus:
    version: v3.4.1
  prometheus:
    image: prometheus
    version: master
  # coreos-alertmanager holds the version of alertmanager built for tigera/alertmanager,
  # which prometheus operator uses to validate.
  coreos-alertmanager:
    version: v0.28.0
  alertmanager:
    image: alertmanager
    version: master
  tigera-prometheus-service:
    image: prometheus-service
    version: master
  deep-packet-inspection:
    image: deep-packet-inspection
    version: master
  flexvol:
    image: pod2daemon-flexvol
    version: master
  csi:
    image: csi
    version: master
  csi-node-driver-registrar:
    image: node-driver-registrar
    version: master
  elasticsearch-operator:
    image: eck-operator
    version: master
  # eck-elasticsearch-operator holds the version of the ECK operator used to manage
  # Elasticsearch
  eck-elasticsearch-operator:
    version: 2.16.0
  l7-collector:
    image: l7-collector
    version: master
  gateway-l7-collector:
    image: gateway-l7-collector
    version: master
  envoy:
    image: envoy
    version: master
  dikastes:
    image: dikastes
    version: master
  l7-admission-controller:
    image: l7-admission-controller
    version: master
  egress-gateway:
    image: egress-gateway
    version: master
  key-cert-provisioner:
    image: key-cert-provisioner
    version: master
  gateway-api-envoy-gateway:
    image: envoy-gateway
    version: master
  gateway-api-envoy-proxy:
    image: envoy-proxy
    version: master
  gateway-api-envoy-ratelimit:
    image: envoy-ratelimit
    version: master
  istio-pilot:
    image: istio-pilot
    version: master
  istio-install-cni:
    image: istio-install-cni
    version: master
  istio-ztunnel:
    image: istio-ztunnel
    version: master
  istio-proxyv2:
    image: istio-proxyv2
    version: master
