title: release-calient-v3.9
components:
  cnx-manager:
    image: tigera/cnx-manager
    version: release-calient-v3.9
  voltron:
    image: tigera/voltron
    version: release-calient-v3.9
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: release-calient-v3.9
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: release-calient-v3.9
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: release-calient-v3.9
  typha:
    image: tigera/typha
    version: release-calient-v3.9
  cnx-node:
    image: tigera/cnx-node
    version: release-calient-v3.9
  fluentd:
    image: tigera/fluentd
    version: release-calient-v3.9
  fluentd-windows:
    image: tigera/fluentd-windows
    version: release-calient-v3.9
  es-proxy:
    image: tigera/es-proxy
    version: release-calient-v3.9
  es-gateway:
    image: tigera/es-gateway
    version: release-calient-v3.9
  eck-kibana:
    version: 7.10.1
  dex:
    image: tigera/dex
    version: release-calient-v3.9
  kibana:
    image: tigera/kibana
    version: release-calient-v3.9
  eck-elasticsearch:
    version: 7.10.1
  elasticsearch:
    image: tigera/elasticsearch
    version: release-calient-v3.9
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: release-calient-v3.9
  es-curator:
    image: tigera/es-curator
    version: release-calient-v3.9
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: release-calient-v3.9
  compliance-controller:
    image: tigera/compliance-controller
    version: release-calient-v3.9
  compliance-reporter:
    image: tigera/compliance-reporter
    version: release-calient-v3.9
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: release-calient-v3.9
  compliance-server:
    image: tigera/compliance-server
    version: release-calient-v3.9
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: release-calient-v3.9
  guardian:
    image: tigera/guardian
    version: release-calient-v3.9
  tigera-cni:
    image: tigera/cni
    version: release-calient-v3.9
  cloud-controllers:
    image: tigera/cloud-controllers
    version: release-calient-v3.9
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: release-calient-v3.9
  packetcapture-api:
    image: tigera/packetcapture-api
    version: release-calient-v3.9
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: release-calient-v3.9
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: 1.2.1
  prometheus:
    image: tigera/prometheus
    version: v2.17.2
  alertmanager:
    image: tigera/alertmanager
    version: v0.20.0

