title: v3.12.0
components:
  libcalico-go:
    version: v3.12.0
  cnx-manager:
    image: tigera/cnx-manager
    version: v3.12.2
  voltron:
    image: tigera/voltron
    version: v3.12.0
  cnx-apiserver:
    image: tigera/cnx-apiserver
    version: v3.12.0
  cnx-queryserver:
    image: tigera/cnx-queryserver
    version: v3.12.0
  cnx-kube-controllers:
    image: tigera/kube-controllers
    version: v3.12.2
  typha:
    image: tigera/typha
    version: v3.12.0
  cnx-node:
    image: tigera/cnx-node
    version: v3.12.0
  fluentd:
    image: tigera/fluentd
    version: v3.12.0
  fluentd-windows:
    image: tigera/fluentd-windows
    version: v3.12.0
  es-proxy:
    image: tigera/es-proxy
    version: v3.12.2
  es-gateway:
    image: tigera/es-gateway
    version: v3.12.0
  dex:
    image: tigera/dex
    version: v3.12.0
  eck-kibana:
    version: 7.16.2
  kibana:
    image: tigera/kibana
    version: v3.12.0
  eck-elasticsearch:
    version: 7.16.2
  elasticsearch:
    image: tigera/elasticsearch
    version: v3.12.0
  elastic-tsee-installer:
    image: tigera/intrusion-detection-job-installer
    version: v3.12.0
  es-curator:
    image: tigera/es-curator
    version: v3.12.0
  intrusion-detection-controller:
    image: tigera/intrusion-detection-controller
    version: v3.12.2
  compliance-controller:
    image: tigera/compliance-controller
    version: v3.12.0
  compliance-reporter:
    image: tigera/compliance-reporter
    version: v3.12.0
  compliance-snapshotter:
    image: tigera/compliance-snapshotter
    version: v3.12.0
  compliance-server:
    image: tigera/compliance-server
    version: v3.12.0
  compliance-benchmarker:
    image: tigera/compliance-benchmarker
    version: v3.12.0
  guardian:
    image: tigera/guardian
    version: v3.12.0
  tigera-cni:
    image: tigera/cni
    version: v3.12.0
  cloud-controllers:
    image: tigera/cloud-controllers
    version: v3.12.0
  elasticsearch-metrics:
    image: tigera/elasticsearch-metrics
    version: v3.12.0
  packetcapture-api:
    image: tigera/packetcapture-api
    version: v3.12.0
  # coreos-prometheus holds the version of prometheus built for tigera/prometheus,
  # which prometheus operator uses to validate.
  coreos-prometheus:
    version: v2.32.0
  prometheus:
    image: tigera/prometheus
    version: v3.12.0
  # coreos-prometheus holds the version of alertmanager built for tigera/alertmanager,
  # which prometheus operator uses to validate.
  coreos-alertmanager:
    version: v0.23.0
  alertmanager:
    image: tigera/alertmanager
    version: v3.12.0
  tigera-prometheus-service:
    image: tigera/prometheus-service
    version: v3.12.0
  deep-packet-inspection:
    image: tigera/deep-packet-inspection
    version: v3.12.0
  windows:
    image: tigera/calico-windows-upgrade
    version: v3.12.0
  # The components below are third-party images that have been retagged under
  # quay.io/tigera so all enterprise images come from the same repository and org.
  elasticsearch-operator:
    image: tigera/eck-operator
    version: v3.12.0
  eck-elasticsearch-operator:
    version: 1.8.0
  l7-collector:
    image: tigera/l7-collector
    version: v3.12.0
  envoy:
    image: tigera/envoy
    version: v3.12.0
  image-assurance-api:
    image: tigera/image-assurance-api
    version: v0.9.0
  image-assurance-scanner:
    image: tigera/image-assurance-scanner
    version: v0.9.0
  image-assurance-db-migrator:
    image: tigera/image-assurance-db-migrator
    version: v0.9.0
  image-assurance-caw:
    image: tigera/image-assurance-caw
    version: v0.9.0
  sasha:
    image: tigera/sasha
    version: update-misp-add-test-hashes
