
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: uisettings.crd.projectcalico.org
spec:
  group: crd.projectcalico.org
  names:
    kind: UISettings
    listKind: UISettingsList
    plural: uisettings
    singular: uisettings
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: UISettingsSpec contains the specification for a UISettings
              resource.
            properties:
              dashboard:
                description: Dashboard data. One of View, Layer or Dashboard should
                  be specified.
                type: object
              description:
                description: This description is displayed by the UI.
                type: string
              group:
                description: The settings group. Once configured this cannot be modified.
                  The group must exist.
                type: string
              layer:
                description: Layer data. One of View, Layer or Dashboard should be
                  specified.
                properties:
                  icon:
                    description: A user-configurable icon in SVG format. If not specified,
                      the default layer icon is used for this layer node.
                    type: string
                  nodes:
                    description: The nodes that are aggregated into a single layer.
                    items:
                      description: UIGraphNode contains details about a graph node.
                      properties:
                        id:
                          description: The node ID.
                          type: string
                        name:
                          description: The node name.
                          type: string
                        namespace:
                          description: The node namespace.
                          type: string
                        type:
                          description: The node type.
                          type: string
                      required:
                      - id
                      - name
                      - type
                      type: object
                    type: array
                required:
                - icon
                - nodes
                type: object
              view:
                description: View data. One of View, Layer or Dashboard should be
                  specified.
                properties:
                  expandPorts:
                    description: Whether ports are expanded. If false, port information
                      is aggregated.
                    type: boolean
                  expanded:
                    description: The set of nodes that are expanded to the next level
                      of expansion.
                    items:
                      description: UIGraphNode contains details about a graph node.
                      properties:
                        id:
                          description: The node ID.
                          type: string
                        name:
                          description: The node name.
                          type: string
                        namespace:
                          description: The node namespace.
                          type: string
                        type:
                          description: The node type.
                          type: string
                      required:
                      - id
                      - name
                      - type
                      type: object
                    type: array
                  focus:
                    description: The set of nodes that are the focus of the graph.
                      All nodes returned by the graph query will be connected to at
                      least one of these nodes. If this is empty, then all nodes will
                      be returned.
                    items:
                      description: UIGraphNode contains details about a graph node.
                      properties:
                        id:
                          description: The node ID.
                          type: string
                        name:
                          description: The node name.
                          type: string
                        namespace:
                          description: The node namespace.
                          type: string
                        type:
                          description: The node type.
                          type: string
                      required:
                      - id
                      - name
                      - type
                      type: object
                    type: array
                  followConnectionDirection:
                    description: Whether or not to automatically follow directly connected
                      nodes.
                    type: boolean
                  followedEgress:
                    description: Followed nodes. These are nodes on the periphery
                      of the graph that we follow further out of the scope of the
                      graph focus. For example a Node N may have egress connections
                      to X and Y, but neither X nor Y are displayed in the graph because
                      they are not explicitly in focus. The service graph response
                      will indicate that Node N has egress connections that may be
                      followed.  If Node N is added to this "FollowedEgress" then
                      the response will include the egress connections to X and Y.
                    items:
                      description: UIGraphNode contains details about a graph node.
                      properties:
                        id:
                          description: The node ID.
                          type: string
                        name:
                          description: The node name.
                          type: string
                        namespace:
                          description: The node namespace.
                          type: string
                        type:
                          description: The node type.
                          type: string
                      required:
                      - id
                      - name
                      - type
                      type: object
                    type: array
                  followedIngress:
                    items:
                      description: UIGraphNode contains details about a graph node.
                      properties:
                        id:
                          description: The node ID.
                          type: string
                        name:
                          description: The node name.
                          type: string
                        namespace:
                          description: The node namespace.
                          type: string
                        type:
                          description: The node type.
                          type: string
                      required:
                      - id
                      - name
                      - type
                      type: object
                    type: array
                  hostAggregationSelectors:
                    description: The set of selectors used to aggregate hosts (Kubernetes
                      nodes). Nodes are aggregated based on the supplied set of selectors.
                      In the case of overlapping selectors, the order specified in
                      the slice is the order checked and so the first selector to
                      match is used.  The nodes will be aggregated into a graph node
                      with the name specified in the NamedSelector.
                    items:
                      description: A Calico format label selector with an associated
                        name.
                      properties:
                        name:
                          type: string
                        selector:
                          type: string
                      required:
                      - name
                      - selector
                      type: object
                    type: array
                  layers:
                    description: The set of layer names. This references other UISettings
                      resources.
                    items:
                      type: string
                    type: array
                  layout:
                    description: Layout type. Semi-arbitrary value used to specify
                      the layout-type/algorithm. For example could specify different
                      layout algorithms, or click-to-grid.  Mostly here for future
                      use.
                    type: string
                  position:
                    description: Positions of graph nodes.
                    items:
                      description: UI screen position.
                      properties:
                        id:
                          type: string
                        x:
                          type: integer
                        "y":
                          type: integer
                        z:
                          type: integer
                      required:
                      - id
                      - x
                      - "y"
                      - z
                      type: object
                    type: array
                  splitIngressEgress:
                    description: Whether to split HostEndpoints, NetworkSets and Networks
                      into separate ingress and egress nodes or to combine them. In
                      a service-centric view, splitting these makes the graph clearer.
                      This never splits pods which represent a true microservice which
                      has ingress and egress connections.
                    type: boolean
                required:
                - expandPorts
                - followConnectionDirection
                - layers
                - layout
                - position
                - splitIngressEgress
                type: object
            required:
            - description
            - group
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
